* {
  font-family: sans-serif;
}

*:focus {outline:none !important}

body {
  padding: 60px;
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 200px;
}

.card-grid{
  border: 1px solid gray;
  border-radius: 6px;
  animation: fadeIn;
  animation-duration: 2s;
}

.card-grid p {
  padding: 6px;
  text-align: center;
}

.card-grid img{
  max-height: 100px;
  width: 100%;
}


input {
  color: rgb(99, 89, 89);
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
  border:0;   
  border-bottom:1px solid rgb(54, 52, 52); 
}